{:aliases {:cider-nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.49.0"}},
                         :main-opts ["-m"
                                     "nrepl.cmdline"
                                     "--middleware"
                                     "[cider.nrepl/cider-middleware]"]},
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}},
                   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]},
           :test {:exec-fn cognitect.test-runner.api/test,
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/sha "b3fd0d2",
                                                                     :git/tag "v0.5.0"}},
                  :extra-paths ["test"],
                  :main-opts ["-m" "cognitect.test-runner"]}},
 :deps {instaparse/instaparse {:mvn/version "1.5.0"}
        babashka/process {:mvn/version "0.1.4"}
        babashka/fs {:mvn/version "0.1.6"}},
 :neil {:project {:name mila/mila}},
 :paths ["src" "resources"]}
